.image{
    width: 400px;
    height: flex;
    border-radius: 10px;
    margin-bottom: -10px;
}
.detail-item{
    width: 400px;
    display: 10px;
    flex-direction: column;
    text-align: justify;
    margin-top: 15px;
    line-height: 30px;
    font-family: 'Roboto', sans-serif;
}